<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SvPersonas</display-name>
    <servlet-name>SvPersonas</servlet-name>
    <servlet-class>pe.utp.servlets.SvPersonas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvPersonas</servlet-name>
    <url-pattern>/SvPersonas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvParrillaMeses</display-name>
    <servlet-name>SvParrillaMeses</servlet-name>
    <servlet-class>pe.utp.servlets.SvParrillaMeses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvParrillaMeses</servlet-name>
    <url-pattern>/SvParrillaMeses</url-pattern>
  </servlet-mapping>
  <display-name>InfoConsult</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SvVerClientes</display-name>
    <servlet-name>SvVerClientes</servlet-name>
    <servlet-class>pe.utp.servlets.SvVerClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvVerClientes</servlet-name>
    <url-pattern>/SvVerClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvPersonasApi</display-name>
    <servlet-name>SvPersonasApi</servlet-name>
    <servlet-class>pe.utp.servlets.SvPersonasApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvPersonasApi</servlet-name>
    <url-pattern>/SvPersonasApi</url-pattern>
  </servlet-mapping>
</web-app>